/* CSS Reset */
 td,th,tr,thead,tfoot,tbody,caption,table,legend,label,form,fieldset,li,ul,ol,dd,dt,dl,center,i,u,b,var,tt,sup,sub,strong,strike,small,samp,s,q,kbd,ins,img,font,em,dfn,del,code,cite,big,address,acronym,abbr,a,pre,blockquote,p,h6,h5,h4,h3,h2,h1,iframe,object,applet,span,div,body,html{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent}td,th,tr,thead,tfoot,tbody,caption,table,legend,label,form,fieldset,li,ul,ol,dd,dt,dl,center,i,u,b,var,tt,sup,sub,strong,strike,small,samp,s,q,kbd,ins,img,font,em,dfn,del,code,cite,big,address,acronym,abbr,a,pre,blockquote,p,h6,h5,h4,h3,h2,h1,iframe,object,applet,span,div,body,html,:focus{outline:0}body{line-height:1}ul,ol{list-style:none}q,blockquote{quotes:none}q:after,q:before,blockquote:after,blockquote:before{content:'';content:none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/* Main CSS*/
body 
{
	font-family: Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.5em; /* Расстояние между строками */
	background: white url(../../images/top_gradient.gif) top left repeat-x;
	position: relative;
	color:#444;
}
а, a:hover, a:visited 
{
	color: #00AFF0;
	text-decoration: none;
}
h1 {
	font-size: 1.7em;
	font-weight: bold;
	color: #00AFF0;
	padding: 0px 10px 20px 20px;
}
h2 {
	background: #83DDFF;
	font-size: 1.1em;
	font-weight: bold;
	color: #444;
	padding: 5px 10px 5px 20px;
	margin: 5px 0px 5px 0px;
	border-bottom: 2px solid #00AFF0;
}
info {
	font-size: 0.9em;
	color: #444;
}
ul.errors {
	color: #CC0000;
	#border-top: 3px solid #F89394;
	#border-bottom: 3px solid #F89394;
	background-color: #FFCECE; /* Цвет фона */
	#padding: 5px 30px 5px 30px;
}

ul.errors li {
	color: #CC0000;
	background-color: #FFCECE; /* Цвет фона */
	padding: 0px 0px 2px 30px;
}
button, input[type=submit] {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(188, 234, 251)));
	border: solid 1px rgb(54, 192, 243);
	color: #444;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	padding: 4px 7px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	border-radius: 3px 3px;
}
button:hover, input[type=submit]:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(220, 255, 255)));
}
button:active, input[type=submit]:active {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(204, 204, 204)), to(rgb(221, 221, 221)));
}
input[type=text] {
	background: #FFF;
	border: solid 1px rgb(54, 192, 243);
	color: #444;
	line-height: 1;
	padding: 3px 5px;
	text-align: left;
	text-decoration: none;
	border-radius: 3px 3px;
}
.helper {
	font-size: 0.9em;
	line-height: 1.5em; /* Расстояние между строками */
	color:#444;
}
hr {
	border: #00AFF0 solid 1px;
}

/* Header */
#header
{
	font-size: .786em;
	font-weight: bold;
	line-height: 60px;
	margin: 0 auto 5px auto;
	overflow: hidden;
	padding: 10px 20px 10px 20px;
	width: 960px;
}
#SBtitle
{
	float: left;
	overflow: auto;
	text-decoration: none;
	padding: 3px 0px 0px 10px;
	font-size: 1.6em;
}
#SBLogo img
{
	display: block;
	float: left;
}
#headerNavigation
{
	float: right;
	text-align: right;
}
#headerNavigation a
{
	color: #636363;
	margin: 0 4px;
	text-decoration: none;
}
#headerNavigation a:hover
{
	color: #00AFF0;
}
#headerNavigation input
{
	margin: 0 0px 0 4px;
}


/* Main Navigation */
#mainNavigation
{
	/*background: white url(images/navigation_blue.png) bottom left repeat-x;*/
	background: #83ddff;
	min-height: 31px;
	border-bottom: #00AFF0 solid 5px;
}
#mainNavigation ul
{
	margin: 0 auto;
	padding: 0 0 0 100px;
	width: 860px;
}
#mainNavigation li a 
{
	text-decoration: none;
	color: #444;
}
#mainNavigation li a:hover
{
	color: white;
}
#mainNavigation li
{	
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 -20px 0 30px;
	padding: 5px 10px 10px 10px;
}
#mainNavigation li.active a
{
	cursor: pointer;
	padding: 0;
	color: white;
}
#mainNavigation li.active,#mainNavigation li.active a,#mainNavigation li.active strong
{
	background: #00AFF0;
}


/* Container */
#container
{
	padding: 20px 20px 0px 20px;
	width: 960px;
	min-height: 200px;
	margin: 0px auto 0px auto;
}

#sidebar
{
	padding: 0px 0px 20px 0px;
	float: right;
	width: 220px;
}
#content
{
	float: left;
	width: 700px;
	border-right: #dddddd solid 1px;
	padding: 0px 20px 0px 0px;
}
table.regform tr.line {
	#height: 50px;
}

/* Footer */
#footer
{
	background: white url(../../images/bottom_gradient.png) top left repeat-x;
	color: #AFB4B4;
	font-size: .786em;
	height: 50px;
	margin: 40px 0px 0px 0px;
	clear: both;
	float: left;
	width: 100%;
	display: block;
}
#footer a
{
	color: #636363;
	margin: 0 4px;
}
#footer a:hover
{
	color: #00AFF0;
}
#footerNavigation
{
	float: left;
	padding: 20px 0 0 20px;
}
#footerNavigation select
{
	margin: 0 10px 0 0;
}
#legalLinks
{
	float: right;
	text-align: right;
	padding: 20px 20px 0px 0px;
}