/* CSS Reset */
 td,th,tr,thead,tfoot,tbody,caption,table,legend,label,form,fieldset,li,ul,ol,dd,dt,dl,center,i,u,b,var,tt,sup,sub,strong,strike,small,samp,s,q,kbd,ins,img,font,em,dfn,del,code,cite,big,address,acronym,abbr,a,pre,blockquote,p,h6,h5,h4,h3,h2,h1,iframe,object,applet,span,div,body,html{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent}td,th,tr,thead,tfoot,tbody,caption,table,legend,label,form,fieldset,li,ul,ol,dd,dt,dl,center,i,u,b,var,tt,sup,sub,strong,strike,small,samp,s,q,kbd,ins,img,font,em,dfn,del,code,cite,big,address,acronym,abbr,a,pre,blockquote,p,h6,h5,h4,h3,h2,h1,iframe,object,applet,span,div,body,html,:focus{outline:0}body{line-height:1}ul,ol{list-style:none}q,blockquote{quotes:none}q:after,q:before,blockquote:after,blockquote:before{content:'';content:none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}


/* Main CSS*/
body 
{
	font-family: Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.5em; /* Расстояние между строками */
	background: white url(../../images/top_gradient.gif) top left repeat-x;
	position: relative;
	color:#444;
}
a 
{
	color: #00AFF0;
}
a:hover, a:visited 
{
	color: #00AFF0;
	text-decoration: none;
}


/* Header */
#header
{
	font-size: .786em;
	font-weight: bold;
	line-height: 60px;
	margin: 0 auto 5px auto;
	overflow: hidden;
	padding: 10px 20px 10px 20px;
	width: 960px;
}
#SBtitle
{
	float: left;
	overflow: auto;
	text-decoration: none;
	padding: 3px 0px 0px 10px;
	font-size: 1.6em;
}
#SBLogo img
{
	display: block;
	float: left;
}
#headerNavigation
{
	float: right;
	text-align: right;
}
#headerNavigation a
{
	margin: 0 4px;
	text-decoration: none;
}
#headerNavigation input
{
	margin: 0 0px 0 4px;
}


/* Main Navigation */
#mainNavigation
{
	/*background: white url(images/navigation_blue.png) bottom left repeat-x;*/
	background: #83ddff;
	min-height: 31px;
}
#mainNavigation ul
{
	margin: 0 auto;
	padding: 0 0 0 100px;
	width: 860px;
}
#mainNavigation li a 
{
	color: #444;
}
#mainNavigation li a:hover
{
	color: white;
}
#mainNavigation li
{	
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 -20px 0 30px;
	padding: 5px 10px 10px 10px;
}
#mainNavigation li.active a
{
	cursor: pointer;
	padding: 0;
	color: white;
}
#mainNavigation li.active,#mainNavigation li.active a,#mainNavigation li.active strong
{
	background: #00AFF0;
}


/* Container */
#container
{
	padding: 20px 20px 0px 20px;
	width: 960px;
	min-height: 200px;
	margin: 0px auto 0px auto;
}

#sidebar
{
	padding: 0px 0px 20px 0px;
	float: right;
	width: 220px;
}
#content
{
	float: left;
	width: 720px;
}


/* Footer */
#footer
{
	background: white url(../../images/bottom_gradient.png) top left repeat-x;
	color: #AFB4B4;
	font-size: .786em;
	height: 50px;
	margin: 60px 0 0 0;
	padding: 10px;
}
#footer a
{
	color: #636363;
	margin: 0 4px;
}
#footer a:hover
{
	color: #00AFF0;
}
#footerNavigation
{
	float: left;
	padding: 0 0 0 20px;
}
#footerNavigation select
{
	margin: 0 10px 0 0;
}
#legalLinks
{
	float: right;
	text-align: right;
}